1_Build_Query_Challenge_Instructions-1.pdf
2_Build_Query_Challenge_ERD.pdf
3_Build_Query_Challenge_Data_Dictionary.pdf
4_Build_Query_Challenge_Data.xlsx
5_Build_Query_Challenge_Submission_Template.docx